@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.DigitalMesh {
  background-color: #f3f4f8;
}
.dashboard {
  background-color: #f3f4f8;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 5px;
  border-bottom-color: #fed60a;
  background-color: #ffffff;
}
.logo {
  width: 6rem;
  padding-left: 20px;
}
.menu-items {
  display: flex;
  justify-content: end;
  margin: 1rem;
}

.bp3-html-select {
  align-content: flex-end;
}

.car-card {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: solid 5px;
  border-bottom-color: #fed60a;
  min-height: 10rem;
  max-width: 100rem;
}

.card-container {
  display: grid;
  margin: auto;
  justify-content: center;
  width: 90%;
  padding-top: 4%;
  padding-bottom: 28rem;
}
.trip-header {
  padding-left: 1rem;
  font-size: xx-large;
  font-weight: 500;
}

.trip-details {
  display: flex;
  align-items: center;
}

.select-location {
  background-color: #ffffff !important;
  background-image: none !important;
}

.bp3-timepicker-input-row {
  font-size: large;
  min-width: 8rem;
}

.bp3-html-select .bp3-large {
  background-color: #ffffff !important;
  background-image: none !important;
}

.date-time-details {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.bp3-button.bp3-intent-primary.bp3-popover2-target {
  background-color: white;
  color: #182026;
  min-height: 4rem;
  border-radius: 0px;
  background-image: none;
}

.submit-button {
  margin-left: 1rem;
  border-radius: 0px;
  min-height: 2rem;
  width: 10rem;
  background-image: none !important;
  font-size: large;
  background-color: #fed60a !important;
  box-shadow: none !important;
}

.disabled-link {
  pointer-events: none;
}

.landing-page {
  display: flex;
  background-color: #f3f4f8;
  min-height: 45rem;
}

.request-info{
  margin-left: 28px;
  width: 30rem;
}

.request-info-title {
  padding-bottom: 10px;
  border-bottom: solid 1px;
  border-bottom-color: lightgray;
  font-size: large;
  font-weight: 700;
  margin-bottom: 1rem;
}

.request-details {
  padding-top:1rem;
  padding-bottom:1rem;
  color: grey
}

.request-info-card{
  padding-bottom: 2rem;
  padding-top: 1.75rem;
  border-radius: 0;
}

.car-results{
  
  padding-top: 4.55rem;
  padding-left: 5rem;
}
.results-card {
  display: flex;
  border-radius: 0;
  width: 60rem;
}

.logs-dashboard{
  background-color: #f3f4f8;
  display: flex;
  height: 47rem;
}

.input-container{
  width: 47rem;
  padding-left: 1.5rem;
  
}
.input-log-card{
  height:40rem;
}

.output-container{
  width: 50rem;
  padding-left: 2.5rem;
}
.output-log-card{
  height:40rem;

}

.analytics-dashboard{
  background-color: #f3f4f8;
}