@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.DigitalMesh {
  background-color: #f3f4f8;
}
.dashboard {
  background-color: #f3f4f8;
}
.top-bar {
  border-bottom: solid 5px;
  border-bottom-color: #fed60a;
  background-color: #ffffff;
}
.logo {
  width: 6rem;
  padding-left: 20px;
}

.car-card {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
}

.card-container {
  display: grid;
  margin: auto;
  justify-content: center;
  width: 90%;
  padding-top: 5%;
  padding-bottom: 100px;
}

.drop-down-menu {
  padding-bottom: 15px;
}
